# Node modules locaux, pas besoin de les copier dans le conteneur
node_modules

# Dossiers de build locaux
dist
out-tsc

# Fichiers de log
*.log

# Fichiers système / IDE
.vscode
.idea
*.suo
.ntvs
*.DS_Store
.angular

# Git
.git
.gitignore

# Fichiers temporaires
npm-debug.log
yarn-error.log